@media screen and (max-width: 940px) {

    .header__content__box {
        width: 400px;
    }
}

@media screen and (max-width: 980px) {

    .container{
        margin: 30px 40px;
    }

    .match__contents {
        display: flex;
        flex-wrap: wrap;
    }

    .nav__area {
        width: 86vw;
        display: flex;
        justify-content: flex-start;
        background-color: snow;
        padding: 20px;

    }

    .nav__area ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
    }



    .nav__area ul li {
        width: 30%;
        border: 2px solid darkblue;
    }

    .nav-link {
        font-size: 1.2rem;
        padding: 25px 0px;
    }

    .blogs{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .footer__contents {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    
}