/* @media screen and (max-width: 940px) {

    .header__content__box {
        width: 400px;
    }
} */

/* @media screen and (min-width: 769px) and (max-width: 940px) {

} */



@media screen and (min-width: 577px) and (max-width: 992px) {

    .container{
        margin: 25px 25px;
    }

    .match__contents{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .nav__area {
        width: 100vw;
        display: flex;
        justify-content: flex-start;
        background-color: snow;
        padding: 20px;

    }

    .nav__area ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
    }



    .nav__area ul li {
        width: 30%;
        border: 2px solid darkblue;
        margin: 20px;
    }

    .nav-link {
        font-size: 1.2rem;
        padding: 25px 0px;
    }





    .blogs{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .footer__contents {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

}


@media screen and (max-width: 576px ) {

    .container {
        margin: 10px 8px;
    }
    .header {
        border-radius: 20px;
        padding: 40px 40px 0 0px;
    }
    .heater-title {
        font-size: 3rem;
        margin-top: 0px;
    }

    .header__content__box {
        width: 84%;
    }

    .header-decription {
        opacity: 0.9;
        font-size: 1.1rem;
        margin: 29px 0px;
    }

    .header_contents {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .header__content__box {
        width: 70%;
    }

    .match__contents {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .nav__area {
        background-color: snow;
        margin: 30px;
    }

    .nav__area ul li {
        border: 2px solid darkblue;
    }

    .nav-link {
        font-size: 1.2rem;
        padding: 15px 0px;
    }
    
    .blogs{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 60px;
        justify-content: center;
        align-items: center;
        margin: 0px;
    }

    .footer__contents {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }


}

.blog__content{
    padding: 10px;
    text-align: center;
}

.countrys {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.countrys img{
    width: 100px;
    height: 100px;
}

