@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*  =================
       common style
    ================= */
html{
    display: flex;
    flex-wrap: nowrap;
}


body{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    background-color: snow;
    /* background-color: black;  */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container{
    margin: 70px 80px;
}


/*  =======================
       header area start
    ======================= */

.header {
    background-color: rgb(22, 28, 37);
    border-radius: 30px;
    color: beige;
    padding: 80px 80px 0 80px;
}

.header_contents {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}

.header__content__box {
    width: 50vw;
    display: flex;
    justify-content: space-evenly;
}


.heater-title {
    font-size: 3rem;
    margin-top: 0px;
}
    
.header-decription {
    opacity: 0.9;
    font-size: 1.1rem;
    margin: 60px 0px;
}
    
.header-buton {
    text-decoration: none;
    background-color: blueviolet;
    padding: 16px 30px;
    border-radius: 10px;
    font-size: 20px;
    color: yellow;
    margin-bottom: 100px;
    display: inline-block;
}


.header__banner img{
    width: 100%;
}
/*  =======================
       header area end
    ======================= */


/*  =======================
       match area start
    ======================= */

.match__contents {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}
.nav__area {
    width: 200px;
    height: 220px;
    background-color: rgb(22, 28, 37);
    padding: 20px;
    border-radius: 10px;
}

.nav__area ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}


.nav__area ul li {
    width: 100%;
    list-style: none;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 11px 0px;
    border-radius: 10px;
}


.nav-link{
    text-decoration: none;
    padding: 10px 0px;
    border-radius: 10px;
    font-size: 25px;
    color: black;
}

.nav__area ul li:hover {
    background-color: blueviolet;
}

.nav__area ul li:active {
    background-color: tomato;
    color: yellow;
}

.blogs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-left: 20px;
}

.blog {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 9px 1px #00000066;
    transform: translateX(5);
    box-shadow: 0px 0px 10px blueviolet;
}

.blog:hover {
    transform: translateY(-10px);
    background-color: rgba(226, 43, 171, 0.407);
}

.blog img{
    width: 100%;
}

.transfer__btn {
    color: black;
    border: 1px solid rgb(95, 93, 93);
    border-radius: 3px;
    font-size: 1.3rem;
    background-color: rgb(243, 191, 123);
}

.blog__details {
    padding: 20px;
}

.blog__dricption /* , .blog__icon */{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog__title{
    opacity: 0.9;
    font-size: 1.2rem;
}


.blog__icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
}




/*  =======================
       match area end
    ======================= */



/*  =======================
       footer area start
    ======================= */
footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(22, 28, 37);
    color: beige;text-align: center;
}

.footer__title {
    margin-top: 100px;
    font-size: 3rem;
}


.footer__contents {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.footer__content{
    width: 150px;
    margin-bottom: 30px;
}

.footer__content a{
    text-decoration: none;
    color:rgb(173, 224, 224) ;
}


footer hr {
    width: 80vw;
    background-color: rgba(157, 157, 157, 0.42);
    margin: 35px 0;

}

.socal__media{
    font-size: 2rem;
    margin: 30px 0px;
}

.socal__icon {
    margin-right: 35px;
    color: blueviolet;
}

/*  =======================
       footer area end
    ======================= */